body {
    background-color: rgb(110, 130, 204);
    color: blue;
}

h1 {
    margin: 0 auto;
}

p {
    font-size: 25px;
    justify-content: center;
    margin-left: 8px;
}

.estados_Unidos {
    margin-bottom: 150px;
}

a {
    display: flex;
    margin-top: 25px;
    font-size: 20px;
}

a:hover{
    color: chartreuse;
    text-decoration: none;
    cursor: pointer;
}

.tabela {
    display: grid;
    margin: 0 0 30px 0;
    width: 150px;
    height: 150px;
}

img {
    margin-bottom: 25px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 8px;
}

.lista {
    margin-top: 20px;
}

table {
    margin-left: px;
}
