body{
    background-color:rgb(149, 197, 189);
    color: rgb(19, 19, 70);
}

.casamento{
    width: 100px;
}

img{
    width: 200px;
    margin-left: 30px;
}

p{
    font-size: 20px;
}

th{
    color: rgb(21, 20, 21);
}

a{
    text-decoration: none;
}